## rule 1: ask stupid questions
## rule 2: run one cell at a time
## rule 3: when it doubt, print it out. (use as many inbetween steps as you need to understand code. )

# the goal of the tutorial is to: 
- get used to dataframe (df)
- how to join/collate two dataframes together

In [90]:
import geopandas as gpd # geopandas: pandas on teroids, made for geographical presentation
import pandas as pd

## data source of country shapes etc. 
https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-0-countries/

In [91]:
shapefile = 'data/countries_110m/ne_110m_admin_0_countries.shp'

we need to read country information in. The shp file contains the gemetry of the country, name of countries in different languages etc.
Most of those information we don't need. 
use .head(N) function to see the first N lines of info.

In [92]:
#Read shapefile using Geopandas
gdf = gpd.read_file(shapefile)

In [96]:
#choose 3 cols
gdf = gdf[['ADMIN', 'ADM0_A3', 'POP_EST', 'geometry']]

In [98]:
#change collumn names
gdf.columns = ['country', 'country_code', 'population',  'geometry']

,country,country_code,population,geometry
0,Fiji,FJI,920938,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,United Republic of Tanzania,TZA,53950935,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,Western Sahara,SAH,603253,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."

In [99]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [104]:
import geoplot

In [105]:
# turn into GeoDataFrame so it understand the "geometry" column as shape defining country shape
gdf = gpd.GeoDataFrame(gdf)

# load data on what ever is of your interest

## read csv files from web location, instead of in local folder.

In [24]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'
df = pd.read_csv(url, header=None)
# supply missing column names
df.columns = ['name', 'landmass', 'zone', 'area', 'population', 'language', 'religion', 'bars', 'stripes', 'colours', 'red', 'green', 'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 'botright']

In [26]:
df.head(3)

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white

In [28]:
# show information on each column, what their types are
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        194 non-null    object
 1   landmass    194 non-null    int64
 2   zone        194 non-null    int64
 3   area        194 non-null    int64
 4   population  194 non-null    int64
 5   language    194 non-null    int64
 6   religion    194 non-null    int64
 7   bars        194 non-null    int64
 8   stripes     194 non-null    int64
 9   colours     194 non-null    int64
 10  red         194 non-null    int64
 11  green       194 non-null    int64
 12  blue        194 non-null    int64
 13  gold        194 non-null    int64
 14  white       194 non-null    int64
 15  black       194 non-null    int64
 16  orange      194 non-null    int64
 17  mainhue     194 non-null    object
 18  circles     194 non-null    int64
 19  crosses     194 non-null    int64
 20  saltires    194 non-null    int64
 21  quarters    194 non-null    int64
 22  sunstars    194 non-null    int64
 23  crescent    194 non-null    int64
 24  triangle    194 non-null    int64
 25  icon        194 non-null    int64
 26  animate     194 non-null    int64
 27  text        194 non-null    int64
 28  topleft     194 non-null    object
 29  botright    194 non-null    object
dtypes: int64(26), object(4)
memory usage: 45.6+ KB

# use .unqiue() to display the unique entries of each column

In [29]:
df['animate'].unique()

array([0, 1])

In [31]:
df['mainhue'].unique()

array(['green', 'red', 'blue', 'gold', 'white', 'orange', 'black',
       'brown'], dtype=object)

In [ ]:
mergeddf =